.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 20px;
  border-bottom: 2px solid gray;
  margin: 0 auto;

  @media(max-width: 1024px) {
    display: none;
  }

  .logo {
    font-size: large;
    font-weight: bold;
    cursor: pointer;
  }

  a {
    color: black;
  }
}