.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px;
  border-bottom: 1px solid rgba(99, 78, 78, 0.5);
  margin: 0 auto;
  background-color: #fdf6ee;
  height: 120px;

  @media (max-width: 1024px) {
    display: none;
  }

  .logo {
    width: 100px;
    height: auto;
    margin-left: 100px;
    cursor: pointer;
  }

  .navLinks {
    margin-bottom: 16px;
    a {
      margin: 0 20px;
    }

    a:hover,
    .active {
      border-bottom: 2px solid #ec6562;
    }
  }
}
