.qualifications {
  margin: 60px 0 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  @media (max-width: 750px) {
    flex-direction: column;
    align-items: center;
    .qualList:not(:last-child) {
      border-bottom: 1px solid #634e4e;
    }
  }

  .imageWrapper {
    height: 91px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .qualList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 25px;
    width: 230px;
    @media (max-width: 750px) {
      padding-top: 10px;
      .qualList:not(:last-child) {
        border-bottom: 1px solid #634e4e;
      }
    }

    p {
      font-size: 17px;
      letter-spacing: 0.045em;
    }
  }
}
