
.intro{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto 30px;
    padding: 0 20px;

    button {
      width: 30%;
      margin: 0 auto;
      padding: 10px;
      border-radius: 15%;
      background-color: blue;
      font-size: 18px;
      color: white;
      cursor: pointer;
      margin-top: 20px;
    }
}